---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Sitio web Astro">
  <main class="text-zinc-300">
    <div class="text-center py-6">
      <h1>Welcome to My <span class="text-gradient">Portfolio</span></h1>
      <p class="instructions">
        Exploring Full Stack Development & UX/UI Expertise
      </p>
    </div>
    <Card
      title="Max Sandoval"
      body="Full Stack Web Developer & UX/UI Designer"
      href="#"
      profile_image="/assets/Max-image.webp"
    />
  </main>
</Layout>
